@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;

html {
  scroll-behavior: smooth;
  transition-duration: 1s;
}
@tailwind components;
@tailwind utilities;

@base{
  
  .body{
    @apply font-poppins
  }

}

@layer components{
  .linksRight{
      @apply pr-3 pl-3 pt-1  font-poppins invisible lg:visible text-gray-600 hover:text-gray-900 transition duration-300 cursor-pointer;
  }
  .linksLeft{
    @apply pr-3 pl-3 pt-1 font-poppins invisible lg:visible text-gray-600 hover:text-gray-900 transition duration-300 cursor-pointer;
  }
  .borderGradient {
    text-align: center;
    padding-bottom: 5px;
    background: linear-gradient(to right, #ff4800, #eb84ff) left bottom
      no-repeat;
    background-size: 100% 2px;
  }
}